<launch>
	<!-- Run the map server-->
	<node name="map_server" pkg="map_server" type="map_server" args="/home/leavesnight/bagfiles/map.yaml"/><!--pgm 0.1"/>-->

	<!-- Run AMCL-->
	<include file="$(find slam_zzh_ubuntu)/launch/amcl_diff.launch"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find slam_zzh_ubuntu)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find slam_zzh_ubuntu)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find slam_zzh_ubuntu)/config/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find slam_zzh_ubuntu)/config/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find slam_zzh_ubuntu)/config/base_local_planner_params.yaml" command="load"/>
	</node>
</launch>
